## Завдання:
Використовуючи клас GaussianNB з біблотеки Scikit-Learn створіть
модель класифікації для навчання з використанням датасету Iris (sklearn.datasets.load_iris). Після цього, за допомогою методів з бібліотеки ml_metrics, обрахуйте метрики для отриманої моделі.

In [32]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [33]:
data = load_iris()
X, y, column_names = data['data'], data['target'], data['feature_names']
X = pd.DataFrame(X, columns = column_names)

In [34]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=5, stratify=y)

In [35]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [36]:
y_pred = model.predict(X_val)
df = pd.DataFrame({'y_test' : y_val, 'y_pred': y_pred})
df['is_equal'] = df['y_test'] == df['y_pred']
df

    y_test  y_pred  is_equal
0        0       0      True
1        0       0      True
2        0       0      True
3        2       2      True
4        1       1      True
5        2       2      True
6        0       0      True
7        0       0      True
8        1       1      True
9        1       1      True
10       0       0      True
11       0       0      True
12       1       1      True
13       2       2      True
14       1       1      True
15       2       2      True
16       2       2      True
17       2       2      True
18       0       0      True
19       1       1      True
20       0       0      True
21       1       1      True
22       2       2      True
23       2       1     False
24       1       1      True
25       0       0      True
26       2       2      True
27       2       2      True
28       1       1      True
29       1       1      True

In [37]:
cnf_matrix = metrics.confusion_matrix (y_val, y_pred)
print('Confusion matrix: ')
pd.DataFrame(cnf_matrix)

Confusion matrix:

    0   1  2
0  10   0  0
1   0  10  0
2   0   1  9

In [38]:
print(f'Accuracy: {metrics.accuracy_score(y_val, y_pred):.4f}')

Accuracy: 0.9667

### Висновок:  
При додаванні параметра **stratify**  у функцію розбивки **train_test_split** якість моделі дещо покращується.   
Також на якість даної моделі впливає параметр **random_state**, що взагалі не коректно. На мій погляд, це пов'язано з невиликим об'ємом тестової вибірки.