### Завдання:
1. Створіть датафрейм розміром 15*5, що містить наступні дані:
    * а) ім'я та прізвище студента;
    * б) середній бал
    * в) оцінка за поточний екзамен
    * г) кількість спроб здачі поточного екзамену
2. Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.
3. Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів.
4. Виведіть кількість студентів, що здали поточний екзамен з першого разу.
5. Збережіть будь-які дані з датафрейму у вигляді серії.

In [53]:
import pandas as pd

**1. Датафрейм розміром 15х5:**

In [54]:
df = pd.read_excel('students.xlsx')
df

      name  avg_score  cur_score  attempts
0      Tom        9.9         10         1
1   Donald        6.4          8         3
2     Kate        5.8          6         2
3     Sara       10.7         12         1
4    Nancy        6.7          7         2
5      Nik        5.8          6         3
6     Bill       11.1         12         1
7     Mary        8.9         11         1
8      Bob        8.8         10         3
9     Jane        4.4          5         3
10     Jim        8.0         10         2
11     Ann       10.3         11         1
12     Lis        8.0          9         2
13   Bekky        7.3          9         2
14    John        6.4          8         3

**2. Доданий стовпчик про допуск студента 'course_pass':**

In [55]:
pass_mark = 6
cs = df[('cur_score')]
course_pass = pd.Series(int(score >= pass_mark) for score in cs)
df['course_pass'] = course_pass
df

      name  avg_score  cur_score  attempts  course_pass
0      Tom        9.9         10         1            1
1   Donald        6.4          8         3            1
2     Kate        5.8          6         2            1
3     Sara       10.7         12         1            1
4    Nancy        6.7          7         2            1
5      Nik        5.8          6         3            1
6     Bill       11.1         12         1            1
7     Mary        8.9         11         1            1
8      Bob        8.8         10         3            1
9     Jane        4.4          5         3            0
10     Jim        8.0         10         2            1
11     Ann       10.3         11         1            1
12     Lis        8.0          9         2            1
13   Bekky        7.3          9         2            1
14    John        6.4          8         3            1

**3. Мінімальний, максимальний, середній та медіанний показники середнього балу студентів:**

In [56]:
df['avg_score'].agg(['max', 'min', 'mean', 'median'])

max       11.1
min        4.4
mean       7.9
median     8.0
Name: avg_score, dtype: float64

**4. Кількість студентів, що здали поточний екзамен з першого разу:**

In [57]:
attempt_1 = int(df.loc[(df['attempts'] == 1)].groupby('attempts')['name'].count())
print(f'{attempt_1} студентів здали поточний екзамен з першого разу.')

5 студентів здали поточний екзамен з першого разу.

**5. Кількість попиток студентів:**

In [58]:
attempts = df[('attempts')]
print('Attempts series:')
attempts

Attempts series:

0     1
1     3
2     2
3     1
4     2
5     3
6     1
7     1
8     3
9     3
10    2
11    1
12    2
13    2
14    3
Name: attempts, dtype: int64